<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Some website</title>
    </head>
    <body>
        {{>header}}
        <h4 style="color:red" >sobre</h4>

        {{>footer}}
    </body>
</html>