<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> PIRU PIRU PIRU </title>
    </head>
    <body>
        {{>header}}
      
        <h2 style="color: blueviolet; background-color:black">TU CURTE: {{capitalize curte}}</h2>
        {{>footer}}
    </body>
</html>